# Файлы конфигурации и токены (Секретные данные)
.env
config.json

# База данных подписчиков и временные файлы статуса
subscribers.txt
last_seen.txt

# Окружение Python
.venv/
venv/
ENV/
pyvenv.cfg

# Кэш Python
**/__pycache__/
*.pyc
*.pyo
*.pyd

# Настройки сред разработки
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Временные файлы графиков
*.png
*.jpeg
*.jpg